*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.navbarr {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-left: 88px;
  gap: 800px;
}

.navbar-nav {
  gap: 20px;
}

// header started

.container{
  max-width: 1440px;
  margin: 0 auto;
}

.container > h1 {
  color: var(--text-text-primary, #2A2A2A);
text-align: center;
font-size: 65.34px;
font-style: normal;
font-weight: 600;
line-height: 82px;
margin-top: 144px;
}

.container > p {
  color: var(--text-text-secondary, #2B2B2B);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-top: 17px;
margin-bottom: 49px;
}

.container > a {

  padding: 16px 90px;
  border-radius: 67px;
  background: var(--color-brand-green, #285E67);
  text-decoration: none;
  color: white;
  margin-left: 560px;
font-size: 21.33px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 112.518% */
}

.pics {
  margin-top: 72px;
  display: flex;
  justify-content: space-around;
}

// well section started

.well-doing {
  width: 1300px;
  height: 446px;
  border-radius: 12px;
background: var(--text-text-invert, #F4F4F4);
margin-top: 70px;
padding: 0px 112px;
display: flex;
  gap: 191px;
  margin-left: 20px;
}

.well-txt h2 {
  color: var(--text-text-secondary, #2B2B2B);
font-size: 50.52px;
font-style: normal;
font-weight: 600;
line-height: 62px; /* 122.724% */
margin-top: 80px;
}

.folboks {
  display: flex;
  gap: 69px;
  margin-top: 61px;
}

.yogaa img {
  display: flex;
  margin-top: 150px;
}

.well-box img {
  margin-bottom: 20px;
}

// fresh section started

.fresh {
  margin-top: 70px;
  display: flex;
  gap: 53px;
  align-items: center;
}

.flow {
  margin-top: 50px;
  display: flex;
  gap: 23px;
  align-items: center;
}

.fresh-box h2 {
  color: var(--text-text-secondary, #2B2B2B);
font-size: 50.52px;
font-style: normal;
font-weight: 600;
line-height: 62px; /* 122.724% */
}

.fresh-box p {
  color: var(--text-text-secondary, #2B2B2B);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}