@media (max-width: 960px) {
  .container {
    max-width: 960px;
  }

  .pic1 {
    width: 427px;
    height: 391px;
    border-radius: 16px;
  }

  .pic2 {
    width: 427px;
    height: 391px;
    border-radius: 16px;
  }

  .navbarr {
    gap: 500px;
  }

  .container > a {
    margin-left: 300px;
  }

  .pics {
    justify-content: space-between;
  }

  /* well section  started */

  .well-doing {
    width: 884px;
    height: 480.5px;
    padding: 64px 112px;
  }

  .yogaa {
    display: none;
  }

  .folboks img {
    margin-left: 80px;
  }

  .fresh {
    margin-left: 0px;
  }

  .well-doing {
    margin-left: 0px;
  }

  .fresh-img {
    width: 429.5px;
    height: 578px;
  }

  .fresh-box {
    max-width: 429.5px;
    max-height: 574px;
  }

  .eat {
    max-width: 884px;
  }

  .eat-pic {
    display: none;
  }

  .leavv {
    padding: 0px 0px;
  }
}
